<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" asp-action="Index" asp-controller="Home">Bright Ideas</a>
        <button class="navbar-toggler d-lg-none"
                type="button"
                data-toggle="collapse"
                data-target="#collapseNav"
                aria-controls="collapseNav"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapseNav">
            <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                @if (User.Identity.IsAuthenticated)
                {
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Bright Ideas</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" asp-action="Logout" asp-controller="Account">Logout</a></li>
                }
                else
                {
                    <li><a asp-controller="Account" asp-action="Index">Login or Register</a></li>
                }
            </ul>
        </div>
    </div>
</nav>