@model IdeaViewModel
<form asp-action="Create" asp-controller="Idea" class="form-inline">
    <input asp-for="Content"
           class="form-control mb-2 mb-sm-0 col-12 col-sm-8 col-md-9 col-lg-11"
           placeholder="Post something witty here..." />
    <button type="submit" class="btn btn-default col-12 col-sm-4 col-md-3 col-lg-1">Idea!</button>
</form>